In [1]:
class Externa:

  def __init__(self):
    print('Instância da classe Externa criada')
    self.interna = self.Interna()

  def mostrar(self):
    print('Método mostrar da classe Externa')

  class Interna:

    def __init__(self):
      print('Instância da classe Interna criada')

    def mostrar(self):
      print('Método mostrar da classe Interna')

    def consultar(self):
      print('Método consultar da classe Interna')

In [2]:
e = Externa()

type(e)

Instância da classe Externa criada
Instância da classe Interna criada

__main__.Externa

In [17]:
exemplo2 = Externa()

print(type(exemplo2))

Instância da classe Externa criada
Instância da classe Interna criada
<class '__main__.Externa'>

In [19]:
e.mostrar()

Método mostrar da classe Externa

In [20]:
e.interna.mostrar()

Método mostrar da classe Interna

In [21]:
e.interna.consultar()

Método consultar da classe Interna

In [16]:
from datetime import datetime, timedelta

class Banco:
    def __init__(self, id, data, receita, despesa):
        self.id = id
        self.data = data
        self.receita = receita
        self.despesa = despesa

    def sobrescrever_data(self, data):
        self.data = data

    def sobrescrever_receita(self, receita):
      self.receita = receita
      self.data = datetime.now().date()



dados1 = Banco(id=0,data='01/02/2023', receita=100, despesa=0)



print(f"Dados 1: ID={dados1.id}, data={dados1.data}, receita={dados1.receita}, despesa={dados1.despesa}")

Dados 1: ID=0, data=01/02/2023, receita=100, despesa=0

In [17]:
type(dados1)

__main__.Banco

In [18]:
dados1.sobrescrever_data(data='02/02/2022')

In [19]:
print(f"Dados 1: ID={dados1.id}, data={dados1.data}, receita={dados1.receita}, despesa={dados1.despesa}")

Dados 1: ID=0, data=02/02/2022, receita=100, despesa=0

In [20]:
b = Banco(id=0,data=0,receita=0,despesa=0)

In [21]:
print(b.id)

0

In [22]:
b = []
for i in range(10):
   b.append(Banco(id=i,data=i,receita=i+2,despesa=i))

In [23]:
b[9].receita

11

In [24]:
print(b)

[<__main__.Banco object at 0x7fc598aed180>, <__main__.Banco object at 0x7fc598aee6e0>, <__main__.Banco object at 0x7fc598aeffa0>, <__main__.Banco object at 0x7fc598aeff70>, <__main__.Banco object at 0x7fc598aeec50>, <__main__.Banco object at 0x7fc598aef2e0>, <__main__.Banco object at 0x7fc598aef6a0>, <__main__.Banco object at 0x7fc598aeee60>, <__main__.Banco object at 0x7fc598aecd60>, <__main__.Banco object at 0x7fc598aedfc0>]

In [29]:

for i in range(10):
  print(f"Dados {i}: ID={b[i].id}, data={b[i].data}, receita={b[i].receita}, despesa={b[i].despesa}")

Dados 0: ID=0, data=0, receita=2, despesa=0
Dados 1: ID=1, data=1, receita=3, despesa=1
Dados 2: ID=2, data=2024-01-25, receita=666, despesa=2
Dados 3: ID=3, data=3, receita=5, despesa=3
Dados 4: ID=4, data=4, receita=6, despesa=4
Dados 5: ID=5, data=5, receita=7, despesa=5
Dados 6: ID=6, data=6, receita=8, despesa=6
Dados 7: ID=7, data=7, receita=9, despesa=7
Dados 8: ID=8, data=8, receita=10, despesa=8
Dados 9: ID=9, data=9, receita=11, despesa=9

In [26]:
b[2].sobrescrever_data('cu')

In [28]:
b[2].sobrescrever_receita(666)